@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.star-rating {
    display: inline-flex;
    align-items: center;
  }
  
  .star-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
  
  .star-icon.filled {
    fill: #fbbf24; /* Filled star color */
  }
  
  .star-icon.empty {
    fill: #d1d5db; /* Empty star color */
  }

  @media (max-width: 640px) {
    /* Adjust spacing and alignment for small screens */
    .flex-wrap {
      flex-wrap: wrap;
    }
    .w-full {
      width: 100%;
    }
    .mb-3 {
      margin-bottom: 0.75rem;
    }
    .justify-between {
      justify-content: space-between;
    }
    .items-center {
      align-items: center;
    }
    .justify-center {
      justify-content: center;
    }
  
    /* Adjust font size for small screens */
    .text-[26px] {
      font-size: 1.5rem;
    }
    .text-[20px] {
      font-size: 1.25rem;
    }
    .text-[12px] {
      font-size: 0.75rem;
    }
  
    /* Adjust search bar width for small screens */
    .w-[350px] {
      width: 100%;
    }
  }
  



/* .menu-container > .menu-item {
  display: none;
} */

.menu-container:not(:focus-within) > .menu-item {
  display: none;
}


.spinner {
  font-size: 50px;
  color: green; /* Set the color you want for the spinner */
  animation: spin 1s linear infinite; /* Add a CSS animation for spinning */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}